@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    @apply bg-rose-400 rounded-xl;
}